{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <form method="post"> {% csrf_token %}
          <div class="form-group">
            <label>Url Address</label>
            <input type="url" class="form-control" id="urltext" name="urltext" aria-describedby="eurltextHelp" placeholder="Enter Url">
          </div>
          <input type="submit" class="btn btn-primary" value="Get Headings" >
        </form>
        <div class="row">
            <p>
                {{ urltag }}
            </p>
        </div>
    </div>

{% endblock %}